node_modules
node_modules/**
**/node_modules/**
.expo
.expo/**
android
android/**
**/android/**
ios
ios/**
.kotlin
**/.gradle/**
**/build/**
docs/**
scripts/**
*.md
**/*.md
backend
frontend
mobile-pos
target
**/*.apk
**/*.aab
_android_local
